.nav-button, .nav-button * {
    cursor: pointer;
    transition: 0.5s;
    color: white;
    background-color: none;
    border-radius: 5px;
    text-decoration: none;
}

.nav-button:hover {
    background-color: var(--theme-main-4);
}

.nav-button-selected {
    background-color: var(--theme-main-3);
}