.nav-button {
    padding: 4px 2px;
    margin-left: 10px;
    border: 1px solid #333;
}

.nav-button, .nav-button * {
    cursor: pointer;
    transition: 0.5s;
    background-color: none;
    border-radius: 5px;
    text-decoration: none;
}

.nav-button:hover {
    background-color: #999;
}

.nav-button-selected {
    background-color: #bbb;
}