* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.navbar {
    display: block;
    padding: 5px;
    margin: 0px;
    background-color: #ddd;
}